@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    background-color: rgba(177, 95, 245, 0.89);
    position: sticky;
    top: 0;
}
.logo{
    vertical-align: middle;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
}
.menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.menu-list > li{
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.hero-section{
    position: relative;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
}
.banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8)) , url("./Assest/header.jpg");
    /* background-image:linear-gradient(#8627f383, #6246c9be) , url("./Assest/header.jpg"); */
}
.about{
    height: 500px;
}